<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="practicando el manejos de plantillas">
    <meta name="keywords" content="ejs, node js, express, nodemon">
    <meta name="author" content="Gustavo Exequiel Aybar">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="icono.png" type="image/png">
    <title>Practica con Ejs</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1></h1>
        <p></p>
    </main>
    <footer>

    </footer>
</body>
</html>