<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="practicando el manejos de plantillas">
    <meta name="keywords" content="ejs, node js, express, nodemon">
    <meta name="author" content="Gustavo Exequiel Aybar">

    <link rel="icon" href="icono.png" type="image/png">
    <title>El motor de plantillas Ejs</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1><%= title %></h1>
        <p><%= message %></p>
        <ul>
            <% for(let i=0; i < products.length; i++) { %>
                <li><%= products[i].name %></li>
                <% } %>
        </ul>
            
    </main>
    <footer>
        <hr>
        <p>&copy; Derechos Reservados - Copyrigth 2023 - Aybar, Gustavo Exequiel</p>
    </footer>
</body>
</html>